.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
}
* {
}
body {

}
.songyeoin_txt,
.collaboration_txt,
.introduce_txt,
.student_txt,
.admin_txt,
.student_icon_div,
.admin_icon_div,
.student_icon,
.admin_icon,
.woman_up_logo,
.x-size-48{
  position: relative; /* position을 relative로 설정 */
  z-index: 2; /* 모든 요소의 z-index를 2로 설정하여 배경 위에 위치 */
}

.total_body {
  width: 100%;
  height: 100%;
  /*height: 1080px;*/
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.background_jpg {
  width: 100%;
  height: 100%;
  background-image: url('images/background_jpg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 1;
}
.student_icon_div {
  width: 502px;
  height: 498px;
  background: rgba(255, 252, 252, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 390px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.admin_icon_div {
  width: 502px;
  height: 500px;
  background: rgba(255, 252, 252, 0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 1028px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.student_icon {
  width: 225px;
  height: 242px;
  background: url("images/student_icon.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 529px;
  overflow: hidden;
}
.student_txt {
  width: 117px;
  color: rgba(30, 45, 30, 1);
  position: absolute;
  top: 782px;
  left: 588px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.songyeoin_txt {
  width: 312px;
  color: rgba(30, 45, 30, 1);
  position: absolute;
  top: 171px;
  left: 996px;
  font-family: Dokdo;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.admin_txt {
  width: 113px;
  color: rgba(30, 45, 30, 1);
  position: absolute;
  top: 787px;
  left: 1223px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.admin_icon {
  width: 200px;
  height: 208px;
  background: url("images/admin_icon.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 571px;
  left: 1179px;
  overflow: hidden;
}
.collaboration_txt {
  width: 567px;
  color: rgba(253, 244, 244, 1);
  position: absolute;
  top: 260px;
  left: 677px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 39px;
  opacity: 1;
  text-align: center;
}
.introduce_txt {
  width: 712px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 331px;
  left: 646px;
  font-family: Noto Serif;
  font-weight: Display ExtraCondensed;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.woman_up_logo {
  width: 255px;
  height: 120px;
  background: url("images/woman_up_logo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 629px;
  overflow: hidden;
}

.x-size-48,
.x-size-48 * {
  box-sizing: border-box;
}
.x-size-48 {
  width: 52px;
  height: 54px;
  position: absolute;
  overflow: hidden;
  top: 170px;
  left: 920px;
}

.name {
  color: #fff;
}

/*.x-mark {
  width: 40px;
  height: 40px;
  background: url("images/x-mark.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 920px;
  overflow: hidden;

}*/


/*.v453_2440 {
  width: 100%;
  height: 520px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 15268px;
  left: 4040px;
  overflow: hidden;
}
.v453_2441 {
  width: 100%;
  height: 520px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 15268px;
  left: 4040px;
  overflow: hidden;
}
.v453_2442 {
  width: 100%;
  height: 520px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 15268px;
  left: 4040px;
  overflow: hidden;
}
.v453_2443 {
  width: 100%;
  height: 520px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 15268px;
  left: 4040px;
  overflow: hidden;
}*/
